<div class="container">
  <div class="row bg-white"> <!-- ROW START -->
    <div class="col-xs-12">
      <div class="promo-box centered top-image bg-white">
        <!-- <img src="/img/banners/972.jpg" alt="550 pixel placeholder image"> -->
        <div class="banner full-bleed" alt="this is a banner image"></div>
        <div class="content-wrapper">

          <div class="simple-contact-responsive bg-white">
            <div class="row">
              <div class="col-xs-12 column">
                <form name="sentMessage" id="promoForm" method="post" novalidate>
                  <div class="row">
                    <div class="col-xs-12 text-center">
                      <div class="form-group">
                        <input type="email" class="form-control" name="email" id="contactEmail" placeholder="Add Email" required>
                      </div>
                      <div class="button-container">
                        <button id="submitEmail" type="button" value="" class="button primary">Submit</button>
                      </div>
                      <p id="someContent">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim veniam, quis nostrud exercitation
                        ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                        aute irure dolor in reprehenderit in voluptate velit esse cillum
                        dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
                        non proident.
                      </p>
                      <p class="help-block text-success" id="success">Thank you for your submission</p>
                      <p class="help-block text-fail" id="emptyFieldError">Error! Input field is empty, please enter your email!</p>
                      <p class="help-block text-fail" id="failed">Error! Email has already been used, please enter a different email!</p>
                      <p class="help-block text-fail" id="wrongFormatError">Error! Invalid email format, please enter a correct email!</p>

                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- <div class="button-container">
            <a class="button primary" href="#">A Button</a>
          </div> -->
        </div>
      </div>

    </div>
  </div> <!-- ROW END -->
</div>
