<div class="simple-footer-responsive bg-dark-blue">
  <div class="container">
    <div class="row center">
      <div class="column">
        <span class="copyright">&copy; Gamesys Promo | 2017</span>
      </div>
    </div>
  </div>
</div>
