<!-- jQuery -->
<script src="../js/jquery.min.js" type="text/javascript"></script>
<!-- Latest compiled and minified Bootstrap 3.3 JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="/reload/reload.js"></script>

<script type="text/javascript">
  $(document).ready(function() {

    var wrongEmailFormatError = $('#wrongFormatError');
    var emptyInputFieldError = $('#emptyFieldError');
    var emailSubmissionSuccessMsg = $('#success');
    var emailSubmissionFailureMsg = $('#failed');
    var someInfo = $('#someContent');

    wrongEmailFormatError.hide();
    emptyInputFieldError.hide();
    emailSubmissionSuccessMsg.hide();
    emailSubmissionFailureMsg.hide();

    $('#submitEmail').click(function() {

      var email = $('input#contactEmail').val();

      if (email == '') {
        errorInputFieldIsEmpty();
        $('input#contactEmail').focus();
        return false;
      } else if (validateEmail(email)) {
        addEmailToJSONFile(email)
      }
      else {
        errorInvalidEmailFormat();
      }
    });

    function addEmailToJSONFile(aEmail) {
      $.ajax({
        method: "post",
        url: "/",
        contentType: 'application/json',
        dataType: "json",
        data: JSON.stringify({ email: aEmail }),
        success: function(data) {
          if (data == "Success") {
            emailAdded();
          } else {
            errorEmailAlreadyExists();
          }
        }
      });
    }
    function validateEmail(email) {
      var eFormatGeneral = /^([\w-\.]+@([\w-]+\.)[\w\.]{2,4})?$/;
      var eFormatUK = /^([\w-\.]+@([\w-]+\.)([\w]{2,4})([\.]{1}[\w]{1,2}))?$/;
      if (eFormatGeneral.test(email) || eFormatUK.test(email)) {
        return email;
      } else {
        return console.log("Invalid email format");;
      }
    }

    function errorInvalidEmailFormat() {
      wrongEmailFormatError.show();
      emptyInputFieldError.hide();
      emailSubmissionSuccessMsg.hide();
      someInfo.hide();
      emailSubmissionFailureMsg.hide();
      $('input#contactEmail').focus();
    }

    function emailAdded() {
      wrongEmailFormatError.hide();
      emptyInputFieldError.hide();
      someInfo.hide();
      emailSubmissionSuccessMsg.show();
      emailSubmissionFailureMsg.hide();
      $('input#contactEmail').focus();
    }
    function errorInputFieldIsEmpty() {
      emailSubmissionSuccessMsg.hide();
      wrongEmailFormatError.hide();
      emptyInputFieldError.show();
      someInfo.hide();
      emailSubmissionFailureMsg.hide();
      console.log("Email field is empty!");
      $('input#contactEmail').focus();
    }
    function errorEmailAlreadyExists() {
      wrongEmailFormatError.hide();
      emptyInputFieldError.hide();
      someInfo.hide();
      emailSubmissionSuccessMsg.hide();
      emailSubmissionFailureMsg.show();
      $('input#contactEmail').focus();
    }
  });
</script>
