
/* Information boxes style */

.promo-box {
  position: relative;

  ul {
    padding-left: 0;
    margin-top: 18px;
    margin-bottom: 0;
    li {
      list-style: none;
      margin-top: 12px;
      p {
        margin-top: 0;
      }
    }
  }

  .banner.full-bleed {
    max-width: 100%;
    height: 470px;
    background-image: url(/img/banners/972.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content-wrapper.button-padding {
    padding-bottom: 50px;
  }

  .button-container {
    a {
      margin-top: 10px;
    }
  }

  &.centered {
    text-align: center;

    &.top-image {
      .content-wrapper {
        padding: 24px 24px 30px;
      }
    }
  }
}

@media all and (max-width: @breakpointXs) {
  .promo-box {

    .banner.full-bleed {
      max-width: 100%;
      height: 204px;
      background-image: url(/img/banners/444.jpg);
    }

    &.centered {
      &.top-image {
        .content-wrapper {
          padding: 10px 10px 25px;
        }
      }
    }
  }
}

@media all and (max-width: @breakpointXs) {
  .promo-box {
    .button-container {
      a {
        margin-top: 15px;
      }
    }
  }
}

@media all and (min-width: @breakpointXs) and (max-width: @breakpointMd) {
  .promo-box {
    margin-bottom: 20px;


    .banner.full-bleed {
      max-width: 100%;
      height: 324px;
      background-image: url(/img/banners/684.jpg);
    }
  }
}

/* END of info-box */
